@model WebATomataoes.ViewModels.FilmesViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover Filme</h1>

<h3>Você realmente deseja remover esse filme?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a asp-action="Index"  class="btn btn-secondary">Cancelar</a>
    </form>
</div>
