@model IEnumerable<Domain.Model.Entities.ReviewEntity>

@{
    ViewData["Title"] = "Index";
}
@if(Model.Any()){

<h1 class="text-center mt-4 text-white">Lista de Avaliações de Filmes</h1>
<br />
@foreach (var item in Model) {

    <div class="card border-primary hvr-bounce-in text-center bg-light shadow-lg rounded">
        <div class="card-header"  style=" background-color: #6b5b95;">
            @for (var i = 0; i <  item.ReviwerSatisfaction; i++)
            {
                <i class="fas fa-star fa-xs" style="color: Goldenrod"></i>
            }
        </div>
        <div class="card-body"  style=" background-color: Lavender;">
        <h5 class="card-title"> <i class="fa-solid fa-film"></i><strong> @Html.DisplayFor(modelItem => item.Movie.Name)</strong></h5>
        <p class="card-text"><em>@Html.DisplayFor(modelItem => item.TextReview)</em></p>
                @Html.ActionLink("", "Comment", new { id=item.Id }, new { @class = "fas fa-comments fa-lg me-4 hvr-grow" , @style = "color:gray; text-decoration:none;", @title ="Comentários"}) 
                @Html.ActionLink("", "Details", new {id=item.Id }, new { @class = "fas fa-plus fa-lg ms-3 me-3 hvr-grow", @style = "color:DeepSkyBlue; text-decoration:none;", @title ="Detalhes"})
                @if (@Context.Session.GetString("username") == item.Reviewer)
                {
                    @Html.ActionLink("", "Edit", new { id=item.Id }, new { @class = "fas fa-pen fa-lg me-3 hvr-grow" , @style = "color:LimeGreen; text-decoration:none;", @title ="Atualizar"}) 
                    @Html.ActionLink("", "Delete", new { id=item.Id }, new { @class = "fas fa-trash fa-lg ms-3 hvr-grow" , @style = "color:FireBrick;  text-decoration:none;", @title ="Remover"})
                }
        </div>
        <div class="card-footer text-white" style=" background-color: #6b5b95;">
            <em> Avaliação criada / editada  por <i class="fa-solid fa-user"></i>  @Html.DisplayFor(modelItem => item.Reviewer) <timeago date=(item.ReviewDate)></timeago></em>
        </div>
    </div>
    <p />
    <p />
    
}
}
else
{
 <h1 class="text-center mt-4 text-white">Ainda não existem Avaliações cadastrados ¯\_(ツ)_/¯ </h1>
}