@model  Domain.Model.Entities.ReviewEntity
@{
    var movie = new  Domain.Model.Entities.MovieEntity();

    if (Model.Movie != null)
    {
        movie = Model.Movie;
    }
}
<div>
    <h4 class="text-center mt-2">Informações Sobre o Filme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            <label>Nome</label>
        </dt>
        <dd class="col-sm-8">
            <label>@movie.Name</label>
        </dd>
         <dt class="col-sm-4">
            <label>Estúdio</label>
        </dt>
        <dd class="col-sm-8">
            <label>@movie.FilmStudio</label>
        </dd>

        <dt class="col-sm-4">
            <label>Data de Lançamento</label>
        </dt>
        <dd class="col-sm-8">
            <label>@movie.ReleaseDate</label>
        </dd>
        <dt class="col-sm-4">
            <label>Bilheteria</label>
        </dt>
        <dd class="col-sm-8">
            <label>@movie.BoxOffice</label>
        </dd>
    </dl>
    <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="@Url.Content(@movie.VideoUrl)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
