@model Domain.Model.Entities.MovieEntity

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center mt-4 text-white">Detalhes do Filme</h1>

        <div class="card border-dark mb-5 shadow-sm rounded" style="max-width: 50rem;">
            <div class="col-8 mt-4">
                    <dl class="row">
                        <dt class ="col-sm-4">
                            <label> @Html.DisplayNameFor(model => model.Name) </label>
                        </dt>
                        <dd class ="col-sm-8">
                            <label> @Html.DisplayFor(model => model.Name) </label>
                        </dd>
                        <dt class = "col-sm-4">
                             <label> @Html.DisplayNameFor(model => model.FilmStudio) </label>
                        </dt>
                        <dd class = "col-sm-8">
                             <label> @Html.DisplayFor(model => model.FilmStudio) </label>
                        </dd>
                        <dt class = "col-sm-4">
                             <label> @Html.DisplayNameFor(model => model.ReleaseDate) </label>
                        </dt>
                        <dd class = "col-sm-8">
                             <label> @Html.DisplayFor(model => model.ReleaseDate) </label>
                        </dd>
                        <dt class = "col-sm-4">
                             <label> @Html.DisplayNameFor(model => model.BoxOffice) </label>
                        </dt>
                        <dd class = "col-sm-8">
                             <label>R$ @Html.DisplayFor(model => model.BoxOffice) </label>
                        </dd>
                        <dt class = "col-sm-4">
                             <label> @Html.DisplayNameFor(model => model.LastView) </label>
                        </dt>
                        <dd class = "col-sm-8">
                             <label>@Html.DisplayFor(model => model.LastView) </label>
                        </dd>
                        <dt class = "col-sm-4">
                             <label> @Html.DisplayNameFor(model => model.LastViewQueue) </label>
                        </dt>
                        <dd class = "col-sm-8">
                             <label>@Html.DisplayFor(model => model.LastViewQueue) </label>
                        </dd>
                    </dl>
                    <div class="embed-responsive embed-responsive-16by9 text-center">
                            <iframe width="560" height="315" src="@Url.Content(@Model.VideoUrl)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p />
                    <div>
                        <img class="card-img-top img-fluid hvr-bounce-in" src="@Url.Content(@Model.ImageUrl)" alt="">
                    </div>
            </div>

            <div class="mb-3 mt-3">
                @Html.ActionLink("Atualizar", "Edit", new {  id = Model.Id }, new { @class = "btn btn-outline-primary"})
                <a asp-action="Index"   class="btn btn-outline-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>